.flex-column-i-icon /* default */    {
  background-image: url('../img/classes.png?v=6');
  background-size: 1100% 600%;
  background-repeat: no-repeat;
  background-position: 90% 60%;
  opacity: 1 !important;
}

.class-frostmage > .flex-column-i-icon{background-image: url("../img/class/frost_mage.png"); background-size: contain;}
.class-marksman > .flex-column-i-icon{background-image: url("../img/class/marksman.png"); background-size: contain;}
.class-shieldknight > .flex-column-i-icon{background-image: url("../img/class/shield_knight.png"); background-size: contain;}
.class-soulmusician > .flex-column-i-icon,
.class-beatperformer > .flex-column-i-icon
{
  background-image: url("../img/class/soul_musician.png"); background-size: contain;
}
.class-stormblade > .flex-column-i-icon{background-image: url("../img/class/stormblade.png"); background-size: contain;}
.class-verdantoracle > .flex-column-i-icon{background-image: url("../img/class/verdant_oracle.png"); background-size: contain;}
.class-windknight > .flex-column-i-icon{background-image: url("../img/class/wind_knight.png"); background-size: contain;}